# SPDX-License-Identifier: MIT-0
---
# tasks file for paperless
- name: Set project base name
  ansible.builtin.set_fact:
    project_base_name: paperless

- name: Set Project variables
  ansible.builtin.set_fact:
    project_name: "{{ project_base_name }}{{ project_suffix | default('') }}"

- name: Set Project variables
  ansible.builtin.set_fact:
    project_dir: "{{ ansible_user_dir }}/podman/{{ project_name }}"

- name: Set database service name
  ansible.builtin.set_fact:
    db_name: "{{ project_name }}_db"

- name: Set database hostname
  ansible.builtin.set_fact:
    db_hostname: "{{ db_name }}-pod"

- name: Workaround for lazy evaluation
  ansible.builtin.set_fact:
    podman_service_deploy_config:
      networks:
        - name: "{{ project_name }}_default"
          internal: false
        - name: "{{ backend_network }}"
          internal: true
        - name: "{{ project_name }}_db"
          internal: true
      secrets:
        - name: db_password
          value: "{{ paperless_db_password }}"
        - name: db_user
          value: "{{ paperless_db_user }}"
      volumes:
        - "{{ project_name }}-data"
        - "{{ project_name }}-media"
      kube_files:
        - "{{ lookup('ansible.builtin.template', 'paperless.kube.j2') }}"
        - "{{ lookup('ansible.builtin.template', 'paperless.configmap.j2') }}"
      mariadb:
        name: "{{ db_name | default() }}"
        dbname: "{{ project_base_name }}"
        networks:
          - name: "{{ project_name }}_db"
            internal: true
        user: "{{ paperless_db_user }}"
        password: "{{ paperless_db_password }}"
        root_password: "{{ paperless_db_root_password }}"
        image_tag: "{{ paperless_mariadb_image_tag | default(12) }}"

- name: Podman service deployment
  ansible.builtin.include_role:
    name: podman_service_deploy
