---
apiVersion: v1
kind: Deployment
metadata:
  annotations:
    io.containers.autoupdate: registry
  name: {{ project_name }}
  labels:
    app: {{ project_name }}
spec:
  selector:
    matchLabels:
      app: {{ project_name }}
  template:
    metadata:
      labels:
        app: {{ project_name }}
      name: {{ project_name }}
    spec:
      containers:
        - name: authentik-worker
          image: "ghcr.io/goauthentik/server:{{ AUTHENTIK_IMAGE_TAG }}"
          args:
            - worker
          envFrom:
            - configMapRef:
                name: {{ project_name }}-env
          env:
            - name: AUTHENTIK_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  key: authentik_secret_key
                  name: {{ project_name }}_secrets
            - name: AUTHENTIK_POSTGRESQL__PASSWORD
              valueFrom:
                secretKeyRef:
                  key: authentik_postgresql__password
                  name: {{ project_name }}_secrets
          volumeMounts:
            - mountPath: /media
              name: media
            - mountPath: /templates
              name: templates
            - mountPath: /certs
              name: certs
      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: {{ project_name }}-media
        - name: templates
          persistentVolumeClaim:
            claimName: {{ project_name }}-templates
        - name: certs
          persistentVolumeClaim:
            claimName: {{ project_name }}-certs
        - name: docker-socket
          hostPath:
            path: /run/podman/podman.sock
            type: Socket
