---
apiVersion: v1
kind: Deployment
metadata:
  annotations:
    io.containers.autoupdate: registry
  name: {{ project_name }}
  labels:
    app: {{ project_name }}
spec:
  selector:
    matchLabels:
      app: {{ project_name }}
  template:
    metadata:
      labels:
        app: {{ project_name }}
      name: {{ project_name }}
    spec:
      containers:
        - name: db
          image: "docker.io/library/postgres:{{ postgresql_image_tag | mandatory }}"
{% if postgresql_args is defined %}
          args: {{ postgresql_args }}
{% endif %}
          livenessProbe:
            exec: ["pg_isready", "-d {{ postgresql_dbname }}", "-U "{{ postgresql_user }}"]
            initialDelaySeconds: 20
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 5
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: db_data
          env:
            - name: POSTGRES_DB
              value: {{ postgresql_dbname }}
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  key: db_user
                  name: {{ project_name }}_secrets
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: db_password
                  name: {{ project_name }}_secrets
      volumes:
        - name: db_data
          persistentVolumeClaim:
            claimName: {{ project_name }}-data
