---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vaultwarden_env_map
data:
    WEBSOCKET_ENABLED: "true"
    SIGNUPS_ALLOWED: "false"
    DOMAIN: "https://{{ domain }}"
    LOG_FILE: "/data/vaultwarden.log"
    LOG_LEVEL: "warn"
{% if vaultwarden_smtp_enabled | default("false") %}
    SMTP_HOST: {{ vaultwarden_smtp_host | default() }}
    SMTP_FROM: {{ vaultwarden_smtp_from | default() }}
    SMTP_FROM_NAME: {{ vaultwarden_smtp_from_name | default() }}
    SMTP_SECURITY: {{ vaultwarden_smtp_security | default("force_tls") }}
    SMTP_PORT: {{ vaultwarden_smtp_port | default("465") }}
    SMTP_USERNAME: {{ vaultwarden_smtp_username | default() }}
    SMTP_TIMEOUT: {{ vaultwarden_smtp_timeout | default("15") }}
{% endif %}
