version: "3"

services:
  app:
    image: docker.io/library/vault:latest
    cap_add:
      - "IPC_LOCK"
    volumes:
      - ./config.hcl:/vault/config/config.hcl:z
      - ./data:/vault_data:z
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.paperless-sec.loadbalancer.server.port=8200"
      - "traefik.http.routers.paperless-sec.rule=Host(`{{ domain }}`)"
      - "traefik.docker.network=web_backend"
      - "traefik.http.routers.paperless-sec.tls=true"
      - "traefik.http.routers.paperless-sec.tls.certResolver={{ certificate_resolver }}"
      - "traefik.http.routers.paperless.rule=Host(`{{ domain }}`)"
      - "traefik.http.routers.paperless.middlewares=redirect-to-https@file"
      - "traefik.http.routers.paperless-sec.middlewares=security_headers@file"