---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ project_name }}-config
data:
  PAPERLESS_REDIS: redis://localhost:6379
  PAPERLESS_DBENGINE: mariadb
  PAPERLESS_DBHOST: {{ db_hostname }}
  PAPERLESS_DBPORT: 3306
  PAPERLESS_DBNAME: {{ project_base_name }}
  # USERMAP_UID: 1000
  # USERMAP_GID: 1000
  PAPERLESS_URL: https://{{ paperless_domain }}
  PAPERLESS_TIKA_ENABLED: 1
  PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://localhost:3000
  PAPERLESS_TIKA_ENDPOINT: http://localhost:9998
  PAPERLESS_OCR_LANGUAGE: deu+eng
  PAPERLESS_TASK_WORKERS: 2
  PAPERLESS_THREADS_PER_WORKER: 2
  PAPERLESS_CONSUMER_POLLING: {{ PAPERLESS_CONSUMER_POLLING | default(0) }}
  PAPERLESS_CONSUMER_POLLING_RETRY_COUNT: {{ PAPERLESS_CONSUMER_POLLING_RETRY_COUNT | default(5) }}
  PAPERLESS_CONSUMER_POLLING_DELAY: {{ PAPERLESS_CONSUMER_POLLING_DELAY | default(5) }}
  PAPERLESS_CONSUMER_ENABLE_BARCODES: "{{ PAPERLESS_CONSUMER_ENABLE_BARCODES | default(false) }}"
  PAPERLESS_CONSUMER_ENABLE_COLLATE_DOUBLE_SIDED: "{{ PAPERLESS_CONSUMER_ENABLE_COLLATE_DOUBLE_SIDED | default("false") }}"
  PAPERLESS_CONSUMER_COLLATE_DOUBLE_SIDED_SUBDIR_NAME: {{ PAPERLESS_CONSUMER_COLLATE_DOUBLE_SIDED_SUBDIR_NAME | default("double-sided") }}
  PAPERLESS_CONSUMER_RECURSIVE: "{{ PAPERLESS_CONSUMER_RECURSIVE | default("false") }}"
  PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "{{ PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS | default("true") }}"
