---
apiVersion: v1
kind: Pod
metadata:
  annotations:
    io.containers.autoupdate: registry
  name: {{ project_name }}
  labels:
    app: {{ project_name }}
spec:
  securityContext:
    sysctls:
      - name: net.ipv4.ip_forward
        value: "1"
  containers:
    - name: gluetun
      image: "ghcr.io/qdm12/gluetun:{{ gluetun_image_tag | default('latest') }}"
      resources:
        limits:
          podman.io/device=/dev/net/tun: 1
      securityContext:
        capabilities:
          add: ["NET_ADMIN"]
      envFrom:
        - configMapRef:
            name: {{ project_name }}-config
      env:
        - name: WIREGUARD_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              key: WIREGUARD_PRIVATE_KEY
              name: {{ project_name }}_secrets

