---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ project_name }}-config
data:
  VPN_SERVICE_PROVIDER: {{ gluetun.VPN_SERVICE_PROVIDER }}
  VPN_TYPE: {{ gluetun.VPN_TYPE | default('wireguard') }}
  PORT_FORWARD_ONLY: {{ gluetun.PORT_FORWARD_ONLY | default('off') }}
  VPN_PORT_FORWARDING: {{ gluetun.VPN_PORT_FORWARDING }}
  SERVER_COUNTRIES: {{ gluetun.SERVER_COUNTRIES }}
