version: '3'

volumes:
    homea_config:
        external: true
networks:
    ha_net:
        external: true
    web_backend:
        external: true
services:
  mqtt:
    container_name: mqtt
    image: "eclipse-mosquitto:2"
    volumes:
      - ./config:/mosquitto/config
      - ./data:/mosquitto/data
      - ./log:/mosquitto/log
      - /etc/localtime:/etc/localtime:ro
    restart: always
    ports:
      - 1883:1883
      - 9001:9001

