---
apiVersion: v1
kind: Deployment
metadata:
  annotations:
    io.containers.autoupdate: registry
  name: {{ project_name }}
  labels:
    app: {{ project_name }}
spec:
  selector:
    matchLabels:
      app: {{ project_name }}
  template:
    metadata:
      labels:
        app: {{ project_name }}
      name: {{ project_name }}
    spec:
      hostNetwork: true
      containers:
        - name: mqtt
          image: "docker.io/eclipse-mosquitto:{{ mqtt_image_tag | default('2') }}"
          volumeMounts:
            - mountPath: /mosquitto/config
              name: config
            - mountPath: /mosquitto/data
              name: data
            - mountPath: /mosquitto/log
              name: log
          ports:
            - containerPort: 1883
              hostPort: 1883
              protocol: tcp
            - containerPort: 9001
              hostPort: 9001
              protocol: tcp
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: {{ project_name }}-config
        - name: data
          persistentVolumeClaim:
            claimName: {{ project_name }}-data
        - name: log
          persistentVolumeClaim:
            claimName: {{ project_name }}-log
