---
apiVersion: v1
kind: Deployment
metadata:
  annotations:
    io.containers.autoupdate: registry
  name: {{ project_name }}
  labels:
    app: {{ project_name }}
spec:
  selector:
    matchLabels:
      app: {{ project_name }}
  template:
    metadata:
      labels:
        app: {{ project_name }}
        traefik.enable: true
        traefik.http.services.recipe-buddy-sec.loadbalancer.server.port: 3000
        traefik.http.routers.recipe-buddy-sec.rule: Host(`{{ recipe_buddy_domain | mandatory }}`)
        traefik.docker.network: web_backend
        traefik.http.routers.recipe-buddy-sec.tls: true
        traefik.http.routers.recipe-buddy-sec.tls.certResolver: letsdns
        traefik.http.routers.recipe-buddy.rule: Host(`{{ recipe_buddy_domain }}`)
        traefik.http.routers.recipe-buddy.middlewares: redirect-to-https@file
        traefik.http.routers.recipe-buddy-sec.middlewares: security_headers@file
      name: {{ project_name }}
    spec:
      containers:
        - name: grocy
          image: "ghcr.io/georgegebbett/recipe-buddy:{{ recipe_buddy_image_tag | default('latest') }}"
          env:
            - name: GROCY_API_KEY
              value: {{ recipe_buddy_api_key }}
            - name: GROCY_BASE_URL
              value: {{ recipe_buddy_grocy_domain }}
            - name: NEXTAUTH_SECRET
              value: {{ recipe_buddy_nextauth_secret }}
            - name: NEXTAUTH_URL
              value: {{ recipe_buddy_nextauth_url }}
          volumeMounts:
            - mountPath: /home/node/app/data
              name: rb-data
      volumes:
        - name: rb-data
          persistentVolumeClaim:
            claimName: {{ project_name }}-data
