---
apiVersion: v1
kind: Deployment
metadata:
  annotations:
    io.containers.autoupdate: registry
  name: {{ project_name }}
  labels:
    app: {{ project_name }}
spec:
  selector:
    matchLabels:
      app: {{ project_name }}
  template:
    metadata:
      labels:
        app: {{ project_name }}
        traefik.enable: true
      name: {{ project_name }}
    spec:
      containers:
        - name: agm
          image: "ghcr.io/maxxberg/authentik_group_manager:{{ authentik_group_manager_image_tag | default('latest') }}"
          env:
            - name: AGM_API_HOST
              valueFrom:
                secretKeyRef:
                  key: agm_api_host
                  name: {{ project_name }}_secrets
            - name: AGM_API_TOKEN
              valueFrom:
                secretKeyRef:
                  key: agm_api_token
                  name: {{ project_name }}_secrets
