---
apiVersion: v1
kind: Deployment
metadata:
  annotations:
    io.containers.autoupdate: registry
  name: {{ project_name }}
  labels:
    app: {{ project_name }}
spec:
  selector:
    matchLabels:
      app: {{ project_name }}
  template:
    metadata:
      labels:
        app: {{ project_name }}
      name: {{ project_name }}
    spec:
      containers:
        - name: redis
          image: "docker.io/library/redis:alpine"
{% if redis_args is defined %}
          args: {{ redis_args }}
{% endif %}
          livenessProbe:
            exec: ["CMD-SHELL", "redis-cli ping | grep PONG"]
            initialDelaySeconds: 20
            periodSeconds: 30
            timeoutSeconds: 3
            failureThreshold: 5
          volumeMounts:
            - mountPath: /data
              name: data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ project_name }}-data
