version: '3'

volumes:
{% if docker_compose.volumes.data.type == 'volume' %}
  {{ docker_compose.volumes.data.name }}:
    external: true
{% endif %}
  nxc_custom_apps:
    external: true
  nxc_config:
    external: true
  nxc_mariadb_data:
    external: true
  nxc_html:
    external: false

networks: 
  web_backend:
      external: true
  db_backend:
    external: true

services:
  db:
    image: mariadb:10.5
    hostname: mariadb
    command: --transaction-isolation=READ-COMMITTED --log-bin --binlog-format=ROW
    volumes:
      - nxc_mariadb_data:/var/lib/mysql
    environment:
      - MYSQL_HOST=db
      - MYSQL_DATABASE={{ db_name }}
      - MYSQL_USER={{ db_user }}
      - MYSQL_PASSWORD={{ db_password }}
      - MYSQL_ROOT_PASSWORD={{ db_root_password }}
    restart: always
    networks: 
      default:
        aliases: 
          - db

  app:
    image: nextcloud:{{ nextcloud_version }}
    hostname: nextcloud
    #ports:
     # - "80"
    #  - 81:80
    expose: 
      - "80"
    volumes:
      - nxc_html:/var/www/html
      - {{ docker_compose.volumes.data.name }}:/var/www/html/data
      - nxc_custom_apps:/var/www/html/custom_apps
      - nxc_config:/var/www/html/config
    environment:
      - MYSQL_HOST=db
      - MYSQL_DATABASE={{ db_name }}
      - MYSQL_USER={{ db_user }}
      - MYSQL_PASSWORD={{ db_password }}
      - MYSQL_ROOT_PASSWORD={{ db_root_password }}
{% if reverse_proxy == 'nginx'  %}
      - VIRTUAL_HOST={{ domain }}
      - VIRTUAL_PORT=80
      - NEXTCLOUD_TRUSTED_DOMAINS={{ domain }}
      - LETSENCRYPT_HOST={{ domain }}
{% endif %}
      
    labels:
{% if reverse_proxy == 'traefik' %}
      - "traefik.enable=true"
      - "traefik.http.services.nextcloud-sec.loadbalancer.server.port=80"
      - "traefik.http.routers.nextcloud-sec.rule=Host(`{{ domain }}`)"
      - "traefik.docker.network=web_backend"
      - "traefik.http.routers.nextcloud-sec.tls=true"
      - "traefik.http.routers.nextcloud-sec.tls.certResolver=letsdns"
      - "traefik.http.routers.nextcloud.rule=Host(`{{ domain }}`)"
      - "traefik.http.routers.nextcloud.middlewares=redirect-to-https@file"
      - "traefik.http.routers.nextcloud-sec.middlewares=security_headers@file, nextcloud-dav@docker"
      - "traefik.http.middlewares.nextcloud-dav.replacepathregex.regex=/.well-known/(card|cal)dav"
      - "traefik.http.middlewares.nextcloud-dav.replacepathregex.replacement=/remote.php/dav/"
{% endif %}

    restart: always
    networks: 
      - web_backend
      - default
  cron:
    image: nextcloud:{{ nextcloud_version }}
    volumes:
      - nxc_html:/var/www/html
      - nxc_data:/var/www/html/data
      - nxc_custom_apps:/var/www/html/custom_apps
      - nxc_config:/var/www/html/config
    environment:
      - MYSQL_HOST=db
      - MYSQL_DATABASE={{ db_name }}
      - MYSQL_USER={{ db_user }}
      - MYSQL_PASSWORD={{ db_password }}
      - MYSQL_ROOT_PASSWORD={{ db_root_password }}
    entrypoint: ["/cron.sh"]
    #environment: 
      #- VIRTUAL_HOST=nxc.local
    restart: always
    networks: 
      - web_backend
      - default
