---
apiVersion: v1
kind: Deployment
metadata:
  annotations:
    io.containers.autoupdate: registry
  name: {{ project_name }}
  labels:
    app: {{ project_name }}
spec:
  selector:
    matchLabels:
      app: {{ project_name }}
  template:
    metadata:
      labels:
        app: {{ project_name }}
      name: {{ project_name }}
    spec:
      containers:
        - name: db
          image: "docker.io/mariadb:{{ mariadb_image_tag | mandatory }}"
{% if mariadb_args is defined %}
          args: {{ mariadb_args }}
{% endif %}
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: db_data
          env:
            - name: MARIADB_DATABASE
              value: {{ db_name }}
            - name: MARIADB_USER
              valueFrom:
                secretKeyRef:
                  key: db_user
                  name: {{ project_name }}_secrets
            - name: MARIADB_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: db_password
                  name: {{ project_name }}_secrets
            - name: MARIADB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: db_root_password
                  name: {{ project_name }}_secrets
      volumes:
        - name: db_data
          persistentVolumeClaim:
            claimName: {{ project_name }}-db-data
