version: '3'


networks: 
  web_backend:
      external: true

services:
  app:
    image: onlyoffice/documentserver:latest
    hostname: onlyoffice-ds
    restart: always
    expose:
      - "80"
    ulimits:
     nofile:
       soft: "65536"
       hard: "65536"
    environment:
    - VIRTUAL_HOST={{ hostname }}
    - VIRTUAL_PORT=80
    - LETSENCRYPT_HOST={{ hostname }}
    - JWT_ENABLED=true
    - JWT_SECRET=BzWj5dSWBKK038v8VvDT
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.onlyoffice-sec.loadbalancer.server.port=80"
      - "traefik.http.routers.onlyoffice-sec.rule=Host(`{{ hostname }}`)"
      - "traefik.docker.network=web_backend"
      - "traefik.http.routers.onlyoffice-sec.tls=true"
      - "traefik.http.routers.onlyoffice-sec.tls.certResolver=letsdns"
      - "traefik.http.routers.onlyoffice.rule=Host(`{{ hostname }}`)"
      - "traefik.http.routers.onlyoffice.middlewares=redirect-to-https@file"
      - "traefik.http.routers.onlyoffice-sec.middlewares=onlyoffice-sslheaders"
      - "traefik.http.middlewares.onlyoffice-sslheaders.headers.customrequestheaders.X-Forwarded-Proto=https"
    networks: 
      default:
      web_backend:
        aliases: 
          - onlyoffice-ds