VIRTUAL_HOST=wg.mx-berg.de
VIRTUAL_PORT=80
VIRTUAL_PROTO=http
LETSENCRYPT_HOST=wg.mx-berg.de
SUBSPACE_HTTP_HOST=wg.mx-berg.de
SUBSPACE_LETSENCRYPT=false
SUBSPACE_HTTP_ADDR=":80"
SUBSPACE_HTTP_INSECURE=false
SUBSPACE_NAMESERVER={{ nameserver }}