version: '3'

networks:
    {{ backend_network }}:
        external: true
    default:
        #enable_ipv6: true
        driver: bridge

services:
  reverse-proxy:
    image: traefik:{{ traefik_image_tag }}
    ports:
      - "80:80"
{% if api_insecure == 'true' %}
      # Web UI
      - "8080:8080"
{% endif %}
      - "443:443"
    environment:
      %{ include 'env.' ~ dns_challenge_provider ~ '.j2' }%
    volumes:
      - ./traefik.yaml:/etc/traefik/traefik.yaml:Z
    networks:
        {{ backend_network }}:
        default:
    restart: always

  docker-proxy:
    image: tecnativa/docker-socket-proxy:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:Z
    expose:
      - "2375"
    environment:
      - "CONTAINERS=1"
    privileged: true
    restart: always