---
apiVersion: v1
kind: Deployment
metadata:
  annotations:
    io.podman.annotations.ulimit: nproc=4194304:4194304
    io.containers.autoupdate: registry
  labels:
    app: {{ project_name }}
  name: {{ project_name }}
spec:
  selector:
    matchLabels:
      app: {{ project_name }}
  template:
    spec:
      containers:
      - name: docker_proxy
        env:
        - name: CONTAINERS
          value: "1"
        image: docker.io/tecnativa/docker-socket-proxy:latest
        securityContext:
          privileged: true
          procMount: Unmasked
        volumeMounts:
        - mountPath: /var/run/docker.sock
          name: docker.sock
      - name: reverse_proxy
        env:
        - name: {% include 'env_' ~ traefik_dns_challenge_provider ~ '.j2' +%}
          valueFrom:
            secretKeyRef:
              key: traefik_dns_api_token
              name: {{ project_name }}_secrets
        - name: LEGO_DISABLE_CNAME_SUPPORT
          value: "true"
        image: docker.io/library/traefik:{{ traefik_image_tag }}
        ports:
        - containerPort: 80
          hostPort: 80
        - containerPort: 443
          hostPort: 443
        volumeMounts:
        - mountPath: /appdata
          name: traefik-acme.json
        - mountPath: /etc/traefik/
          name: traefik-traefik.yaml
        - mountPath: /logs/
          name: logpath
      dnsConfig:
        nameservers:
        - 9.9.9.9
        - 1.1.1.1
        - {{ lookup('community.general.dig', 'helium.ns.hetzner.de') }}
        - {{ lookup('community.general.dig', 'hydrogen.ns.hetzner.com') }}
        - {{ lookup('community.general.dig', 'oxygen.ns.hetzner.com') }}
      restartPolicy: Always
      volumes:
      - name: docker.sock
        hostPath:
          path: /var/run/podman/podman.sock
          type: File
      - name: traefik-traefik.yaml
        configMap:
          name: {{ project_name }}_traefik_config
      - name: traefik-acme.json
        persistentVolumeClaim:
          claimName: {{ project_name }}-appdata
      - name: logpath
        hostPath:
          path: {{ project_dir }}/logs/
          type: DirectoryOrCreate
