---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ project_name }}_traefik_config
data:
  traefik.yaml: |
    providers:
      docker: 
        exposedByDefault: false
        endpoint: "tcp://localhost:2375"
      file:
        directory: /etc/traefik/
    api:
      dashboard: {{ traefik_api_dashboard }}
      insecure: {{ traefik_api_insecure }}

    accessLog:
      filePath: "/logs/traefik.log"
      format: json
      #filters:
      #  statusCodes:
      #    - "200"
      #    - "400-599"
        #retryAttempts: true
        #minDuration: "10ms"
      # collect logs as in-memory buffer before writing into log file
      bufferingSize: 0
      fields:
        headers:
          defaultMode: drop # drop all headers per default
          names:
              User-Agent: keep # log user agent strings

    entryPoints:
      http:
        address: ":80"
      https:
        address: ":443"

    certificatesResolvers:
      letsdnstest:
        acme:
          caServer: https://acme-staging-v02.api.letsencrypt.org/directory
          storage: /appdata/acme.json
          dnsChallenge:
            provider: hetzner
      letsdns:
        acme:
          storage: /appdata/acme.json
{% if traefik_challenge_type == "dns" %}
          dnsChallenge:
            provider: {{ traefik_dns_challenge_provider }}
{% elif traefik_challenge_type == "tls" %}
          tlsChallenge: {}
{% endif %}
            
    http:
      middlewares:
        redirect-to-https:
          redirectScheme:
            scheme: https
            permanent: true
        security_headers:
          headers:
            stsSeconds: 15552000 
{% if middlewares is defined %}
        {{ middlewares | default() | to_nice_yaml(indent=2) | indent(8) }}
{% endif %}
{% if services is defined %}
      services:
        {{ services | default() | to_nice_yaml(indent=2) | indent(8) }}
{% endif %}
{% if routers is defined %}
      routers:
        {{ routers | default() | to_nice_yaml(indent=2) | indent(8) }}
{% endif %}
