---
# tasks file for maxxberg.pihole

- name: Set Project variables
  ansible.builtin.set_fact:
    project_name: pihole

- name: Set Project variables
  ansible.builtin.set_fact:
    project_dir: "{{ ansible_user_dir }}/podman/{{ project_name }}"

- name: Enable systemd-resolved
  ansible.builtin.systemd:
    name: systemd-resolved
    state: started
    enabled: true
  when:
    - state == "absent"
    - not pihole_is_home_network

- name: Workaround for lazy evaluation
  ansible.builtin.set_fact:
    podman_service_deploy_config:
      networks:
        - name: "{{ project_name }}_default"
          internal: false
        - name: "{{ backend_network }}"
          internal: true
        - name: intranet
          internal: true
          subnet: "{{ intranet_network | mandatory }}"
          ipv4_address: "{{ pihole_ipv4_address }}"
      secrets:
        - name: web_password
          value: "{{ pihole_web_password }}"
      volumes:
        - "{{ project_name }}_conf"
        - "{{ project_name }}_dnsmasq"
      kube_files:
        - "{{ lookup('ansible.builtin.template', 'pihole.kube.j2') }}"

- name: Podman service deployment
  ansible.builtin.include_role:
    name: podman_service_deploy
